body 
{
    margin: 0;
    font-family: Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgba(0,0,0,.87);
}

header 
{
    height: 101px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07)
}


.header-container 
{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 1.5%;

  
}


.logo 
{
    height: 51px;
    width: 51px;
}
.logo img 
{
    height: 100%;
}

.left-nav
{
    display: flex;
    height: 100%;
    align-items: center;
}

.left-nav nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.left-nav nav ul li 
{
    text-transform: uppercase;
    padding-left: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.left-nav nav ul li:hover
{
    color: #008248;
}
